.post-calibration{
  display: none;
}
.calibrated .post-calibration{
  display:block;
}

svg{
      display:block;
    }

body{
  font-family: sans-serif;
  margin:0;
}
h1,h2,h3,h4,h5,h6{
  color: #454545;
  padding: 10px;
  margin:0;
  /*border-top:1px solid #ccc;*/
}
.content{
  padding:0 10px;
}
hr{
  border:none;
  border-bottom:1px solid #eee;
}
a{
  color:#08f;
  text-decoration: none
}
a:hover{
  text-decoration: underline
}
svg{
  /*outline: 1px solid #ccc;*/
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}
line{
/*  stroke: red;
  stroke-width: 3.5;*/
}
rect{
  opacity: 0.4;
}

.area{
  background: url(./reference.png);
  overflow: hidden;
  background-size: cover;
}
.area video{
  position: absolute;
  transform: scaleX(-1);
}
.area svg{
  position: absolute;
  z-index: 1;
}

.cover{
  /*width: 100px;*/
  /*height: 100px;*/
  background:rgba(0,0,0,0.5); 
  position: absolute;
  /*transition: transform linear 5s;*/
}
/*

.cover-x{
  transform: translate(-100%, 0);
}
.cover-y{
  transform: translate(0, -100%);
}

.cover-x.on, .cover-y.on{
  transform: translate(0, 0);
}*/


#calibration{
  margin:1em;
  font-size: 4em;
  text-align: center;
  color:#000;
}
#calibration a:hover{
  text-decoration: none;
}
#calibrate-left, #calibrate-right, #calibrate-down{
  margin: 0;
  display: inline-block;
  padding: 0.2em;
}
#calibrate-left{
  color:#ff7f0e;
}
#calibrate-right{
  color:#08f;
}
#calibrate-down{
  color:#f08;
}

#calibration-status{
  /*border: 1px solid;*/
  height: 150px;
  margin: .5em auto auto auto;
  width: 150px;
}
#calibrate-reset{
  font-size: .65em;
  font-weight: normal;
  display: none;
  float:right;
}

.demo{
  text-align: center;
  margin:3em 0;
}
.demo-title{
  border-top:1px solid #eee;
  font-size: 3em
}
.demo-start{
  font-size:7em;
}
.demo-warning{
  display: block;
  color: #F90A0A;
  font-weight: bold;
  max-width: 14em;
  margin: auto;
}
.demo-warning .icon-{
  display: block;
  font-size: 1.4em;
  margin-bottom: 0.3em;
}

footer p{
  -webkit-font-smoothing: antialiased;
  background: #000;
  padding:.5em 1em;
  margin:0;
}
footer a{
  color:#fff;
  display: block;
}

footer{
  position: absolute;
  bottom:0;
}

.calibrated footer{
  position: static;
}

#demo{
  display: none;
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(255,255,255,0.9);
}
#demo canvas{
  position: absolute;
  top:0;
  z-index: 4;
}
#demo-close{
  float:right;
  font-size: 1.5em;
  margin:.5em;
  color:#fff;
}
#demo-header{
  background: rgba(0,0,0,0.9);
  -webkit-font-smoothing:antialiased;
  position: absolute;
  width: 100%;
  z-index: 5;
}
#demo-title{
  color:#fff;
}
#demo.bg-position{
  background-image: url(demo-bg.jpg);
  background-size: 1500%;
}

