@font-face {
	font-family: 'ps';
	src:url('fonts/ps.eot?-dedu0j');
	src:url('fonts/ps.eot?#iefix-dedu0j') format('embedded-opentype'),
		url('fonts/ps.woff?-dedu0j') format('woff'),
		url('fonts/ps.ttf?-dedu0j') format('truetype'),
		url('fonts/ps.svg?-dedu0j#ps') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ps';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
	content: "\e600";
}
.icon-notification:before {
	content: "\e604";
}
.icon-checkmark-circle:before {
	content: "\e602";
}
.icon-close:before {
	content: "\e601";
}
.icon-play:before {
	content: "\e603";
}
.icon-stop:before {
	content: "\e608";
}
.icon-arrow-right:before {
	content: "\e605";
}
.icon-arrow-down:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e60a";
}
.icon-github:before {
	content: "\e609";
}
